<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>

<div class="card">
  <div class="card-content">
    <h1>
      下のボタンからユーザー登録をしてください。登録にはTwitter IDが必要です。<br>
      <br>
      既に登録済なのにこの画面が表示された場合は、ログインの有効期限切れです。再度ログインの上、もういちどお宝/支払いQRコードを読み込んでください。
    </h1>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <a class="button is-info" href="/auth/twitter">ユーザー登録/ログイン</a>
      </span>
    </p>
  </footer>
</div>

</body>
</html>